@model DiagnosticML.ViewModels.ClassificationChoice
@{
    ViewBag.Title = "Classify";
    
}

<h2>@Model.choiceName Form</h2>

@if (Model.choiceID == 0)
{


    using (Html.BeginForm("Results", "Classifier", FormMethod.Post))
    {
        
        <form>

            <div id = "theDiv">

                 @Html.LabelFor(model => model.patientID, "Patient ID   ")
                 @Html.TextBoxFor(model => model.patientID)
                <br />
                 @Html.LabelFor(model => model.clumpThickness, "Clump Thickness   ")
                 @Html.TextBoxFor(model => model.clumpThickness)
                <br />       
                 @Html.LabelFor(model => model.uniformitySize, "Uniformity Size  ")
                 @Html.TextBoxFor(model => model.uniformitySize)
                <br />
                @Html.LabelFor(model => model.uniformityShape, "Uninformity Shape   ")
                @Html.TextBoxFor(model => model.uniformityShape)
                <br />
                 @Html.LabelFor(model => model.marginalAdhesion, "Marginal Adhesion   ")
                 @Html.TextBoxFor(model => model.marginalAdhesion)
                <br />
                 @Html.LabelFor(model => model.singleEpithelial, "Single Epithelial Cell Size   ")
                 @Html.TextBoxFor(model => model.singleEpithelial)
                <br />
                 @Html.LabelFor(model => model.bareNuclei, "Bare Nuclei   ")
                 @Html.TextBoxFor(model => model.bareNuclei)
                <br />
                 @Html.LabelFor(model => model.blandChromatin, "Bland Chromatin   ")
                 @Html.TextBoxFor(model => model.blandChromatin)
                <br />
                 @Html.LabelFor(model => model.normalNucleoli, "Normal Nucleoli   ")
                 @Html.TextBoxFor(model => model.normalNucleoli)
                <br />
                 @Html.LabelFor(model => model.mitosis, "Mitosis   ")
                 @Html.TextBoxFor(model => model.mitosis)
                <br />
                <input type="submit" id="submitId" value="Submit" />

            </div>

        </form>
    }

}
else
{
    using (Html.BeginForm("Results", "Classifier", FormMethod.Post))
    {

        <form>

            <div id="theDiv">

                @Html.LabelFor(model => model.patientID, "Patient ID")
                @Html.TextBoxFor(model => model.patientID)
                <br />
                @Html.LabelFor(model => model.radius, "Radius (Values will be Normalized)")
                @Html.TextBoxFor(model => model.radius)
                <br />
                @Html.LabelFor(model => model.texture, "Texture (Values will be Normalized)")
                @Html.TextBoxFor(model => model.texture)
                <br />
                @Html.LabelFor(model => model.perimeter, "Perimeter (Values will be Normalized")
                @Html.TextBoxFor(model => model.perimeter)
                <br />
                @Html.LabelFor(model => model.area, "Area (Values will be Normalized")
                @Html.TextBoxFor(model => model.area)
                <br />
                @Html.LabelFor(model => model.smoothness, "Smoothness")
                @Html.TextBoxFor(model => model.smoothness)
                <br />
                @Html.LabelFor(model => model.compactness, "Compactness")
                @Html.TextBoxFor(model => model.compactness)
                <br />
                @Html.LabelFor(model => model.concavity, "Concavity")
                @Html.TextBoxFor(model => model.concavity)
                <br />
                @Html.LabelFor(model => model.concavePts, "Concave Points")
                @Html.TextBoxFor(model => model.concavePts)
                <br />
                @Html.LabelFor(model => model.symmetry, "Symmetry")
                @Html.TextBoxFor(model => model.symmetry)
                <br />
                @Html.LabelFor(model => model.fractalDimension, "Fractal Dimension")
                @Html.TextBoxFor(model => model.fractalDimension)
                <br />
                <input type="submit" id="submitId" value="Submit"/>

            </div>

        </form>

        <div><h2>@ViewBag.back</h2></div>
    }
}


